<ion-header>
  <ion-navbar color="ionic">
    <ion-title>
      Nearby Restaurants
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="getRestaurants()">
    <ion-searchbar [(ngModel)]="searchTerm" name="search"></ion-searchbar>
  </form>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants" text-wrap>
      <ion-grid>
        <ion-row>
          <ion-col width-25>
            <img [src]="restaurant.thumbnail">
          </ion-col>
          <ion-col>
            <h2>{{restaurant.name}}</h2>
            <p>
              <ion-icon name="star" *ngFor="let star of getArray(restaurant.rating)"></ion-icon>
              {{restaurant.reviewCount}} Reviews
            </p>
            <p>{{restaurant.address}}, {{restaurant.city}}</p>
            <p>{{restaurant.categories}}</p>
          </ion-col>
          <ion-col width-20 text-right>
            <p>{{restaurant.distance}}mi.</p>
            <p><ion-icon name="logo-usd" *ngFor="let usd of getArray(restaurant.price)"></ion-icon></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>